body {
    width: 80%;
    margin: auto;
}

#buttons {
    width: calc(80% - 30px);
}

h1 {
    background-color:  #75fbeb;
    color: black;
    padding: 10px;
}

.button {
    margin: 5px;
    background-color: lightblue;
}

#search {
    margin-top: 5px;
}

.imgdiv {
    float:left;
    padding: 10px;
    border: black solid 1px;
}